$light: #F2F2F2;
$dark: #7d938a;

$black: #272d2d;

$grey: #808080;
$light_grey: #e6e6e6;

$green: #0B4432;
$light-green: #d2e7d6;

/* Set width of scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Set color of scrollbar track */
::-webkit-scrollbar-track {
  background-color: $light;
}

/* Set color and style of scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: $dark;
  border-radius: 5px;
}

.main-container {
  width: 100%;
  font-family: "nunito", sans-serif;
  color: $black;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  overflow:hidden;

  .create {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
    background: #d2e7d6;
    padding: 20px;
    color: $green;

    .group {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    button {
      border-radius: 72%;
      border: 5px solid $green;
      padding: 10px;
      background-color: white;
    }

    img {
      width: 64px;
      height: 64px;
    }
  }

  .icon-config {
    width: 20px;
    height: 20px;
  }

  .main-content {

    display: flex;
    flex-direction: column;
    padding: 0 30px;

    .card {
      flex-grow: 1;
      border-radius: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      background-color: white;

      .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 10px 10px;
        background: $light;
      }
  }

  .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;

      &.office {
        background: white;
      }

      .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;


        .info {
          display: flex;
          flex-direction: row;
          align-items: flex-start;
          font-size: 40px;
          line-height: 0.8;
          color: $dark;
        }

        .info span {
          vertical-align: top;
          font-size: 15px;
          margin-left: 3px;
          color: $black;
        }

        .content-icon {
          border-radius: 50%;
          border: 1px;
          padding: 3px;
          background: $light;

          img {
            width: 40px;
            height: 35px;
          }
        }
      }
  }

    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      .tab-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 13px;

        .tab-list {
          justify-content: space-between;
          margin: 0;
          padding: 0;
          list-style: none;
          display: flex;
          flex-direction: row;

          .tab-item {
            margin: 0;
          }

          .tab-item a {
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            color: $black;
            font-weight: bold;
            border-radius: 5px 5px 0 0;
          }

          .tab-item.active a {
            border-top: 3px solid $dark;
            border-right: 2px solid $light;
            border-left: 2px solid $light;
            border-bottom: none;
            border-radius: 5px 5px 0 0;
          }
        }
      }

      .tab-content {

        border: 2px solid $light;
        width: 100%;

        .tab-panel {
          display: none;
          padding: 20px;
          background-color: #fff;
          border-radius: 0 0 5px 5px;
          justify-content: space-around;

          &.active {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
          }
          .income-expenses {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .tab-revenue {
              display: flex;
              flex-direction: column;
              gap: 10px;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
              border-radius: 4px;
              border: 1px solid $light;
              border-left: 2px solid $dark;
              padding: 10px;
              width: 40%;

              .tab-revenue-title {
                text-transform: uppercase;
                font-weight: bold;
                font-size: 0.8em;
              }

              .tab-revenue-value {
                text-transform: uppercase;
                font-weight: 600;
                font-size: 1.4em;
                color: $dark;
              }
            }
          }
        }
      }

      .content-header {
        display: flex;
        flex-direction: row;
        color: #272d2d;
        font-weight: bold;
        font-size: 15px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        border: 1px solid #F2F2F2;
        width: 100%;
        justify-content: center;
        padding: 10px;

        .content-icon {
          border-radius: 50%;
          border: 1px;
          padding: 7px 10px 7px 10px;
          background: #F2F2F2;
          margin-right: 17px;

          img {
            width: 40px;
            height: 40px;

          }
        }

        .content-title {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 15px 0 15px;

          span {
            font-size: 27px;
          }

          &.middle {
            border-right: 1px solid $light_grey;
          }
        }
      }

      .content-item {
        color: #272d2d;
        border-radius: 4px;
        border: 1px solid #F2F2F2;
        width: 100%;
        padding: 10px;
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;

        img {
          width: 15px;
          height: 15px;
          align-self: center;
        }

        .content-item-left-info {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          font-size: 13px;
        }

        .content-item-left-info, .content-item-right {
          padding-bottom: 5px;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 5px;
          height: fit-content;
        }
      }
    }
    .content-item-left {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;

      .content-item-left-icon {
        border-radius: 50%;
        border: 1px;
        padding: 10px 10px 7px 10px;
        background: #F2F2F2;
        img {
          width: 30px !important;
          height: 30px !important;
        }

        &.task {
          border-radius: 50%;
          border: 1px;
          padding: 10px 10px 7px 10px;
          background: #F2F2F2;
          position: relative;
        }
      }
    }

    .content-item-left-icon.task:hover::before {
      content: "Complete Task?";
      display: inline-block;
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      padding: 5px;
      background-color: #f2f2f2;
      border: 1px solid #ddd;
      border-radius: 5px;
      font-size: 14px;
      color: #333;
      white-space: nowrap;
    }

    .content-item-right {
      border-radius: 10px;
      border: 1px;
      padding: 3px 5px;
      font-size: 15px;

      &.open {
        background-color: $light-green;
      }
    }
  }
}

.revenue-total {
  width: 100%;

  .tab-revenue {
    display: flex;
    flex-direction: row;
    gap: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    border: 1px solid $light;
    border-left: 2px solid $dark;
    padding: 10px;

    .tab-revenue-icon {
      display: flex;
      align-items: center;
      border-radius: 50%;
      border: 1px;
      padding: 10px;
      background: #F2F2F2;

      img{
        width: 40px;
        height: 40px;
      }
    }

    .tab-revenue-stats {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .tab-revenue-title {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 0.8em;
      }

      .tab-revenue-value {
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.4em;
        color: $dark;
      }
    }
  }
}
